.book-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: 10px auto;
  border: 1px solid #eee;
}

.stats {
  display: flex;
  align-items: center;
  width: 55%;
}

.stats div {
  flex: 1;
}
